[package]
name = "checklist-result"
description = "Check result types for sw-checklist"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
