[package]
name = "checklist-config"
description = "Configuration types for sw-checklist"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
