[package]
name = "modularity-loc"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
anyhow.workspace = true
walkdir.workspace = true
checklist-result.workspace = true
